@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i&display=swap');
html, body {
	overflow-x: hidden;
}

body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;;
}

h1, h2, h3, h4 ,h5, h6, a, th {
	font-family: "Avenir", sans-serif;
	letter-spacing: 0.8px;
	margin-bottom: -0.25em;
}

p, td {
	font-family: "Avenir", sans-serif;
	letter-spacing: 0.5px;
	line-height: 165%;
	font-size: 16px;
    font-weight: 100;
    color: #4E525A;
	margin-bottom: 1.5em;
}

li, ul, ol {
	font-family: "Avenir", sans-serif;
	letter-spacing: 0.5px;
	line-height: 165%;
	font-size: 16px;
    font-weight: 100;
    color: #696969;
	margin-bottom: 0.5em;
}

h1 {
	font-weight: 600;
	color: #020813;
	font-size: 36px;
	margin-bottom: 0;
    margin-top: 4em;
    letter-spacing: 0;
}

h2.about-title{
	font-size: 28px;
    color: #020813;
    font-weight: 600;
    margin: 0;
}

h4 {
	font-weight: 500;
	color: #020813;
	font-size: 18px;
	margin-bottom: 0;
    margin-top: 4em;
    letter-spacing: 0;
}

h4.problem {
	margin-top: 0;
	font-size: 20px;
	line-height: 150%;
}

h2.case-title {
	font-size: 48px;
	color: #020813;
	font-weight: 500;
	margin: 0;
}

h3.proj-name {
	font-size: 24px;
	color: #020813;
	margin-bottom: 1rem;
}

h3.sect-title {
	font-size: 22px;
	line-height: 150%;
	color: #020813;
	font-weight: 500;
	margin: 3rem 0 0.5rem 0;
}

h4.sect-subtitle {
	font-size: 16px;
	color: #020813;
	font-weight: 600;
	margin: 3rem 0 1rem 0;
}

h4.sect-subtitle {
	margin-top: 1.5em;
	margin-bottom: -.25em;
	letter-spacing: 0.4px;
	color: #020813;
}

p.case-subtitle {
	font-family: "Avenir", sans-serif;
	font-weight: 200;
	color: #4E525A;
	line-height: 24px;
	font-size: 14px;
	margin-top: -0.25em;
	margin-bottom: 2em;
}

p.subtitle {
	font-family: "Avenir", sans-serif;
	font-weight: 200;
	color: #696969;
	line-height: 20px;
	font-size: 12px;
	margin-top: 0em;
	margin-bottom: 2em;
	text-align: center;
	font-style: italic;
}

p.hero-text {
	font-size: 14px;
	font-weight: 100;
	color: #696969;
    line-height: 23px;
    margin-top: 2em;
}

p.mini-text {
	font-size: 12px;
	font-weight: 200;
	color: #696969;
	margin-top: 1.5em;
	margin-bottom: 4em;
}

p.proj-desc {
	font-size: 12px;
	color: #A1A1A1;
	margin-bottom: 10rem;
}

p.case-info-desc {
	margin-top: 0.25em;
    margin-bottom: 2.5em;
}

p.quote {
	font-family: "PT Serif";
	font-size: 16px;
	font-weight: 700;
	font-style: italic;
	margin: 2.25em 0;
}

#quote-sm {
	width: 60%;
}

a {
	text-decoration: none;
	color: #2065ED;
}

	a:hover {
		opacity: 0.6;
		transition: ease-in .2s;
	    -o-transition: ease-in .2s;
	    -moz-transition: ease-in .2s;
	    -webkit-transition: ease-in .2s;
	}

a.hero-link {
	color: #525252;
	margin-top: 2em;
	text-decoration: none;
	font-size: 14px;
	border-bottom: 1px solid #4F76EB;
	padding-bottom: 2.25px;
}

	a.hero-link:hover {
		color: #4F76EB;
		transition: ease-in .2s;
	    -o-transition: ease-in .2s;
	    -moz-transition: ease-in .2s;
	    -webkit-transition: ease-in .2s;
	}
	
a.proj-link {
	font-family: "PT Mono";
	font-size: 13px;
	color: #A1A1A1;
	letter-spacing: 0;
	text-decoration: none;
}

	a.proj-link:hover {
		color: #4F76EB;
		transition: ease-in .2s;
	    -o-transition: ease-in .2s;
	    -moz-transition: ease-in .2s;
	    -webkit-transition: ease-in .2s;
	}

a.nav-logo {
	font-size: 15px;
	font-weight: 700;
}

p.proj-link-cs {
	font-family: "PT Mono";
	font-size: 13px;
	color: #A1A1A1;
	letter-spacing: 0;
	text-decoration: none;
	margin: 0;
	margin-top: -0.35em;
}

p.proj-link-cs:hover {
		opacity: 0.5;
		transition: ease-in .2s;
	    -o-transition: ease-in .2s;
	    -moz-transition: ease-in .2s;
	    -webkit-transition: ease-in .2s;
	}

hr.break {
	border: 0.5px solid #b5b5b5;
	margin-bottom: 3em;
}

hr.proj-hr {
	border: 0.5px solid #4F76EB;
}

hr.case-hr {
	border: 0.5px solid #A1A1A1;
	margin-bottom: 3em;
}

hr.case-whole-hr {
	border: 0.5px solid #4F76EB;
	margin-top: 3em;
}

img {
	max-width: 100%;
	max-height: 100%;
}

img.large-img {
	max-width: 100vw;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
}

img.med-img {
	max-width: 60vw;
	left: 50%;
	right: 50%;
	margin-left: -30vw;
	margin-right: -30vw;
	position: relative;
}

img.work-img {
	margin-bottom: 2em;
}

video.med-vid {
	display: inline-block;
    width: 70vw;
    left: 50%;
    right: 50%;
    margin-left: -35vw;
    margin-right: -35vw;
    position: relative;
}

a.proj-img-link {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* TABLE */

/*table {
	text-align: left;
	border-collapse: separate;
    border-radius: 15px;
    border: 1px #040E30 solid;
}

th {
	background-color: #040E30;
	color: #fff;
	width: 25%;
	padding: 12px;
	vertical-align: top;
	font-size: 14px;
}

th:first-child {
	border-radius: 12px 0 0 0;
}

th:last-child {
	border-radius: 0 12px 0 0;
}

td {
	padding: 12px;
	vertical-align: top;
	font-size: 13px;
	line-height: 20px;
}*/

/*tr:last-child {
	border: 1px #040E30 solid;
	border-collapse: separate;
	border-radius: 0 0 12px 12px;
}*/


#unavailable {
	cursor: not-allowed;
}

button.tag {
	background-color: rgba(31,101,237,0.1);
	color: #1F65ED;
	font-family: "Rubik", sans-serif;
	font-size: 13px;
	border: medium none;
	border-spacing: 0;
	border-radius: 4px;
    padding: 5px 10px;
    margin-top: -1rem;
    margin-right: .5rem;
}

#comingsoon {
	background-color: rgba(116, 127, 148, 0.1);
    color: #696969;
}



video {
	display: inline-block;
}

/* IMAGE COVERS */

#about {
	background-image: url('../images/about.png');
	background-position: bottom;
}

#atlas {
	background-image: url('../images/atlas/atlas.gif');
}

#rbc {
	background-image: url('/images/rbc/rbc-mockup.jpg')
}

#twitter {
	background-image: url('../images/twitter/twitter-cover.png');
	background-color: #f8F8F8;
	transition: ease-in .3s;
}

	/*#twitter:hover {
		background-image: url('../images/twitter/twitter-cover-hover.png');
		background-color: #55ADEE;
		transition: ease-in .3s;
	    -o-transition: ease-in .3s;
	    -moz-transition: ease-in .3s;
	    -webkit-transition: ease-in .3s;
	}*/

#twitter-2 {
	background-image: url('../images/twitter/twitter-cover.png');
	background-color: #fff;
	background-size: 450px;
}

#twitter-3 {
	background-image: url('../images/twitter/twitter_ptr.gif');
}

#atlas-2 {
	background-image: url('../images/atlas/atlas-armockup.png');
}

#envapp {
	background-image: url('../images/envapp/envapp-mockup2.jpg');
}

#ticketflip {
	background-image: url('../images/ticketflip/ticketflip-mockup.png');
}

#ticketflip2 {
	background-image: url('../images/ticketflip/ticketflip_cover.png');
}

/* Nav */

nav {
	display: flex;
	width: 100%;
}

a.navR {
	text-decoration: none;
	font-size: 14px;
	color: #525252;
	font-weight: 300;
	margin-bottom: 0;
	margin-left: 2rem;
	position: relative;
}

	a.navR:before {
		content: "";
  		position: absolute;
  		width: 100%;
  		height: 2px;
  		bottom: -3px;
  		left: 0;
  		background-color: #2065ED;
  		visibility: hidden;
  		-webkit-transform: scaleX(0);
  		transform: scaleX(0);
  		-webkit-transition: all 0.3s ease-in-out 0s;
  		transition: all 0.3s ease-in-out 0s;
	}

	a.navR:hover:before {
		visibility: visible;
 	 	-webkit-transform: scaleX(1);
  		transform: scaleX(1);
	}

	a.navR:hover {
		color: #2065ED;
		transition: ease-in .2s;
	    -o-transition: ease-in .2s;
	    -moz-transition: ease-in .2s;
	    -webkit-transition: ease-in .2s;
	}

p.unavailable {
	font-size: 14px;
	color: #cacaca;
	font-weight: 300;
	position: relative;
	margin: 0;
}

a.navL {
	text-decoration: none;
	font-size: 16px;
	color: #4F76EB;
	font-weight: 300;

}

	a.navL:hover {
		opacity: 0.6;
		transition: ease-in .2s;
	    -o-transition: ease-in .2s;
	    -moz-transition: ease-in .2;
	    -webkit-transition: ease-in .2s;
	}

.nav-left {
	width: 70%;
	float: left;
}

.nav-right {
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#scrollToTop {
    position: fixed;
    bottom: 2.5em;
    right: 3em;
    z-index: 999;
    border: none;
    outline: none;
    border-radius: 100px;
    padding: 15px;
    background-color: #f1f1f1;
    cursor: pointer;
    height: 45px;
    width: 45px;
}

	#scrollToTop:hover {
		opacity: 0.6;
	}

#arrow {
	width: 24px;
    height: 24px;
    stroke: #2b2b2b;
    stroke-width: 1.5px;
    transform: translate(-5px, -5px);
}

#i-mail {
	transform: rotate(90deg); 
	margin-top: 11.5em;
}

/* Hero */

.hero {
	display: flex;
}

.hero-l {
	width: 50%;
	margin-bottom: 10em;
}

.hero-r {
	width: 50%;
	text-align: right;
	margin-top: 11.5em;
}

hr.hero-hr {
	border: 0.5px solid #e4e4e4;
	margin: 0 -9999rem;
}

hr.hero-hr-r {
	border: 0.5px solid #4F76EB;
	width: 85px;
	transform: rotate(90deg);
	transform-origin: right;
}

.feather {
	width: 20px;
	height: 20px;
	stroke: #4F76EB;
	stroke-width: 1.5;
    transform: translate(-8px, 4px);

}

	.feather:hover {
		opacity: 0.6;
		transition: ease-in .2s;
	    -o-transition: ease-in .2s;
	    -moz-transition: ease-in .2;
	    -webkit-transition: ease-in .2s;

	}

a.hero-link-r {
	font-size: 12px;
	font-family: "PT mono";
	letter-spacing: 0;
	color: #565656;
	text-decoration: none;
	text-transform: lowercase;
}

p.rotate-link {
	transform: rotate(90deg);
	transform-origin: right;
	margin: auto;
    width: 15%;
}

.hero-contact {
	transform: translate(234.5px,50px);
}

.hero-line {
	transform: translate(234px, 130px);
}

.contact:hover {
	opacity: 0.6;
	transition: ease-in .2s;
	-o-transition: ease-in .2s;
	-moz-transition: ease-in .2;
	-webkit-transition: ease-in .2s;
}

footer {
	text-align: center;
    margin-top: 5em;
}

.footer-container {
	width: 32.5%;
	display: inline-block;
}

.footer-icons {
	margin-top: 1.5rem;
	display: flex;
	justify-content: space-evenly;
}

a.footer-contact {
	font-family: "Rubik", sans-serif;
	font-size: 13.5px;
	text-decoration: none;
	color: #2065ED;
}

	a.footer-contact:hover {
		opacity: 0.6;
		transition: ease-in .2s;
		-o-transition: ease-in .2s;
		-moz-transition: ease-in .2;
		-webkit-transition: ease-in .2s;
	}

p.footer-p {
	font-family: "PT Mono", mono;
	font-size: 12px;
	letter-spacing: 0;
	color: #A1A1A1;
}

/* Divs */

.about-portrait {
	width: 100%;
	height: 485px;
	background-position: center;
	background-repeat:no-repeat;
  	background-size: cover;
  	position: relative;
  	background-image: url(../images/me.jpg);
  	margin-top: 2em;
}

.container {
	display: block;
	max-width: 1000px;
	padding-top: 35px;
	padding-bottom: 25px;
	margin: auto;
}

.container-case {
	display: block;
	width: 75%;
	margin: auto;
}

.case-img-cover {
	width: 100%;
	height: 425px;
	background-position: center;
	background-repeat:no-repeat;
  	background-size: cover;
  	position: relative;
  	border-radius: 10px;
  	margin: 2em 0;
}

.case-div {
	margin-top: 3.5em;
}

.case-container-flex {
	display: flex;
	padding-top: 3.5em;
}

.case-intro {
	margin-top: 8em;
	display: flex;
}

.case-desc {
	width: 55%;
}

.case-info {
	width: 45%;
    padding-left: 10%;
}

.case-3-col {
	display: flex;
	justify-content: space-between;
	margin-top: -1.5em;
}

.case-3-sect {
	width: 29.5%;
}

.case-img {
	width: 45%;
	padding-left: 7.5%;
}

.case-img-space {
	width: 100%;
	padding-top: 2em;
	margin: auto;
	padding-left: 11%;
	padding-right: 11%;
	padding-bottom: 2em;
}

.case-container-small {
	width: 38%;
	padding-left: 3%;
}

.case-container-lg {
	width: 62%;
}

.full-w-case {
	margin-top: 2em;
}

.img-flex-half {
	display: flex;
	justify-content: space-between;
	margin-top: 3em;
}

.img-half {
	width: 48.5%;
}

.intro-div {
	margin-top: 7rem;
}

.intro-p {
	margin-top: 6rem;
	margin-bottom: 6rem;
	width: 70%;
}

.project {
	display: inline-block;
    width: 48.5%;
}

.project-img {
	width: 100%;
	height: 300px;
	background-position: center;
	background-repeat:no-repeat;
  	background-size: cover;
  	position: relative;
  	border-radius: 10px;
}

	.overlay {
		position: absolute;
	  	top: 0;
  		bottom: 0;
  		left: 0;
  		right: 0;
  		height: 100%;
  		width: 100%;
  		opacity: 0.08;
  		border-radius: 10px;
  		transition: .5s ease;
  		background-color: rgba(0,0,0,0.3);
	}

	.project-img:hover .overlay {
		opacity: 1;
	}


.p-img-container {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.project-desc {
}

.work {
	margin-bottom: 2.5rem;
	display: flex;
	justify-content: space-between;
}

/* Responsive */

@media all and (min-width: 2560px) {
	img.large-img {
		max-width: 80vw;
	    margin-left: -40vw;
	    margin-right: -40vw;
	}
	img.med-img {
		max-width: 40vw;
	    margin-left: -20vw;
	    margin-right: -20vw;
	}
	video.med-vid {
	    width: 60vw;
	    margin-left: -30vw;
	    margin-right: -30vw;
	}
}

@media all and (max-width: 1280px) {
	.container {
		max-width: 80%;
	}
	.hero-l {
		width: 70%;
	}
	.hero-r {
		display: none;
	}
	.footer-container {
		width: 55%;
	}
	.hero-contact, .hero-line {
		display: none;
	}
	hr.hero-hr-r {
		display: none;
	}
	p.rotate-link {
		width: 25%;
	}
	p.proj-date {
		margin-bottom: 0;
	}
	p.proj-desc {
		height: 165px;
		margin-bottom: 0;
	}
	img.work-img {
		margin-bottom: 0;
	}
	video.home-vid {
		width: 115%;
    	transform: translate(-2.5em, 0);
	}
	#i-mail {
		margin-top: 4.5em;
	}
}

@media all and (max-width: 1024px) {
	.hero-l {
		width: 75%;
		margin-bottom: 5rem;
	}
	.nav-right {
		width: 45%;
	}
	.project {
		display: inline-block;
		padding-top: 2.5em;
	}
	.p-img-container {
		width: 100%;
 		height: 300px;
	}
	.project-desc {
		width: 100%;
		padding-left: 0;
		padding-top: 2em;
	}
	.case-intro {
		display: block;
		margin-top: 6em;
	}
	.case-info {
		width: 100%;
		padding-left: 0;
		margin-top: 2.5em;
	}
	.container-case {
		width: 100%;
	}
	.case-container-flex {
		display: block;
	}
	.case-img {
		width: 100%;
		padding-left: 0;
	}
	.case-container-small {
		width: 100%;
		padding-left: 0;
		margin-top: 2em;
	}
	.case-container-lg, .img-half, .case-container, .case-desc {
		width: 100%;
	}
	.intro-p {
		width: 100%;
	}
	img.med-img {
		max-width: 90vw;
		margin-left: -45vw;
		margin-right: -45vw;
	}
	video.med-vid {
		width: 100vw;
    	margin-left: -50vw;
    	margin-right: -50vw;
	}
}

@media all and (max-width: 425px) {
	.container {
		max-width: 90%;
	}
	.container-case {
		width: 100%;
	}
	.hero-l {
		width: 100%;
		margin-bottom: 1em;
	}
	.work {
		display: inline-block;
	}
	.project {
		width: 100%;
	}
	.footer-container {
		width: 100%;
	}
	.nav-right {
		width: 85%;
	}
	.case-3-col {
		display: block;
		margin-top: 2em;
	}
	.case-3-sect {
		width: 100%;
		margin-top: -0.75em;
	}
	video.home-vid {
		width: 125%;
		transform: translate(-4em, 0);
	}
	footer {
		margin-top: -1em;
	}
	h1 {
		margin-top: 3em;
	}
	p.proj-desc {
		height: 125px;
	}
	h3.sect-title-space {
		margin-top: 3.5em;
	}
	img.med-img {
		max-width: 100vw;
		margin-left: -50vw;
		margin-right: -50vw;
	}
}

@media all and (max-width: 375px) {
	.p-img-container {
		height: 250px;
	}
	.see-more {
		width: 25%;
	}
}